<div mat-dialog-content>
  <h3 style="font-weight: bold" mat-dialog-title>Create a new item</h3>
  <ul style="float: left;">
    <div [formGroup]="simpleReservationForm">
      <mat-form-field style="display: flex;">
        <input [formControlName]="'reservationName'" matInput placeholder="Reservierungsname">
        <mat-error>
          Is required
        </mat-error>
      </mat-form-field>
      <mat-label>Wählen Sie das Reservierungsdatum aus <b>(auch wenn es nur vom gleichen Tag bis zum gleichen Tag ist)</b> Die Uhrzeit können Sie im Folgeschritt spezifizieren.</mat-label>
      <mat-form-field appearance="fill">
        <mat-label>Reservation time</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field *ngIf="simpleReservationForm.get('start')?.value" type="time" style="display: flex;">
        <input [formControlName]="'startDateTime'" matInput placeholder="Startuhrzeit in (HH:MM)">
        <mat-error>
          Zeitformat: zB 12:00 korrekt - statt 8:00 aber 08:00 verwenden (HH:MM)
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="simpleReservationForm.get('end')?.value" style="display: flex;">
        <input [formControlName]="'endDateTime'" matInput placeholder="Enduhrzeit in (HH:MM)">
        <mat-error>
          Zeitformat: zB 12:00 korrekt - statt 8:00 aber 08:00 verwenden (HH:MM)
        </mat-error>
      </mat-form-field>
    </div>
  </ul>
</div>
<mat-dialog-actions style="float: right">
  <button class="mat-button" (click)="cancelModal()">Cancel</button>
  <button class="mat-raised-button" (click)="createReservation()">Reserve {{items?.length || 0}} items</button>
</mat-dialog-actions>
