<div style="display: block;">
    <div style="display: flex; max-width: 600px; flex-direction: column;">
        <mat-card>
            <button mat-button (click)="createNewModelCountRequest()">Anforderung hinzufügen</button>
            <label *ngIf="totalDevicesSelected !== 0" style="float: right;">Geräte insgesamt: {{totalDevicesSelected}}</label>
        </mat-card>
        <div style="display: block;">
            <mat-chip-list aria-label="Fish selection" *ngFor="let subRequest of subRequests" style="display: inline-block; padding: 5px">
                <app-model-count-chip [subRequest]="subRequest" [deleteListener]="deleteSubRequestListener"></app-model-count-chip>
            </mat-chip-list>
        </div>
    </div>
</div>