<div style="padding: 12px;">
    <div>
        <div style="text-align: center;">
            <h1><b>Hier können Sie Reservierungsanfragen erstellen</b></h1>
        <p>Bitte füllen Sie das Formular aus. Sie werden über den Stand Ihrer Reservierung über die E-Mail informiert, mit welcher Sie sich im System registriert haben.</p>
        </div>
        </div>
        <div
        fxLayout="row"
        fxLayout.xs="column" 
        fxFlexFill
        fxLayoutAlign="center space-between">

        </div>
        
        
</div>