<div style="padding: 12px;">
    <div>
        <div style="text-align: center;">
            <h1><b>Hier können Sie Reservierungsanfragen erstellen</b></h1>
        <p>Bitte füllen Sie das Formular aus. Sie werden über den Stand Ihrer Reservierung über die E-Mail informiert, mit welcher Sie sich im System registriert haben.</p>
        </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center stretch">
        <div [formGroup]="requestForm" style="max-width: 600px;">
            <mat-card>
              <label>Bitte geben Sie den Zeitraum an, in dem Sie die Geräte benötigen werden.</label>
            <mat-form-field appearance="fill" style="display: flex;">
                <mat-label>Reservierungszeit</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Startdatum">
                  <input matEndDate formControlName="end" placeholder="Enddatum">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
              <mat-form-field *ngIf="requestForm.get('start')?.value" type="time" style="display: flex;">
                <input [formControlName]="'startDateTime'" matInput placeholder="Startuhrzeit in (HH:MM)">
                <mat-error>
                  Zeitformat: zB 12:00 korrekt - statt 8:00 aber 08:00 verwenden (HH:MM)
                </mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="requestForm.get('end')?.value" style="display: flex;">
                <input [formControlName]="'endDateTime'" matInput placeholder="Enduhrzeit in (HH:MM)">
                <mat-error>
                  Zeitformat: zB 12:00 korrekt - statt 8:00 aber 08:00 verwenden (HH:MM)
                </mat-error>
            </mat-form-field>
            </mat-card>
            <mat-card>
              <label><p><b>HINWEIS</b> <br>-> Sollten Sie <i>zum Beispiel</i> fünf Geräte eines bestimmten Types brauchen, wählen Sie die <b>ERWEITERTE</b> Option. Ansonsten erhalten Sie Geräte, die aktuell verfügbar sind. <br> -> Wenn Ihnen die Gerätemodelle und die Kombination der Geräte egal ist, wählen Sie die <b>EINFACHE</b> Option.</label>
              <mat-radio-group [formControlName]="'advancedSelection'" aria-label="Select an option" style="display: flex; flex-direction: column;">
                <mat-radio-button style="margin: 2px;" [value]="'simple'">EINFACHE AUSWAHL</mat-radio-button>
                <mat-radio-button style="margin: 2px;" [value]="'advanced'">ERWEITERTE AUSWAHl</mat-radio-button>
              </mat-radio-group>
              <br>
            </mat-card>
            <mat-card *ngIf="requestForm.get('advancedSelection').value === 'simple'">
              <label>Geben Sie hier die Anzahl der Geräte ein, die Sie benötigen.</label>
              <mat-form-field appearance="fill" style="display: flex;">
                <input [formControlName]="'deviceAmount'" matInput placeholder="Geräte-Anzahl">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            </mat-card>
            <mat-card *ngIf="requestForm.get('advancedSelection').value === 'advanced'">
              <mat-card-subtitle>Geben Sie hier ein, wieviel von welchen Geräten Sie benötigen.</mat-card-subtitle>
              <!-- TODO: Add totalDevice Count -->
              <app-model-count-selector></app-model-count-selector>
            </mat-card>
        </div>
        </div>
</div>