<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="left">
    <div fxFlex="1 1 auto">
        <app-reservation-button-group [showBasicActions]="true" [enableReservation]="!selection.isEmpty()" (showReservationDetail)="showReservationsDetail()" (endReservation)="endReservation()">

        </app-reservation-button-group>
        <mat-icon style="padding: 20px"matTooltip="Sehen Sie aktuelle Reservierungen ein.">help</mat-icon>
    </div>
    <div fxFlex="2 1 auto">
        <app-reservation-table (selectionChanged)="selectionChange($event)" [refreshTrigger]="refreshActionStream">

        </app-reservation-table>
    </div>
</div>