<div fxLayout="column" fxLayoutAlign="center center">
    <div>
        <h1>Please scan the qr code on the device</h1>
    </div>
    <zxing-scanner #scanner  (camerasFound)="camerasFound($event)" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
    <div [formGroup]="cameraSelectorGroup" *ngIf="camerasAvailable.length > 0">
        <mat-label>Sie können die Kamera wechseln, wenn notwendig</mat-label>
        <mat-select [formControlName]="'cameraselector'" [placeholder]="'Lädt...'" (selectionChange)="changeCamera($event)">
            <mat-option *ngFor="let camera of camerasAvailable" [value]="camera.label">
                {{camera.label}}
              </mat-option>
        </mat-select>
    </div>
</div>