<div 
class="snowflakes zfm-background" 
style="padding: 12px;"
fxLayout="column"
fxLayout.xs="column" 
fxFlexFill
fxLayoutAlign="center center">
    <mat-card style="width: 250px;">
        <mat-card-header>
            <app-system-logo mat-card-image [width]="200"></app-system-logo>
        </mat-card-header>
        <h3>Sie haben ein Passwort-Reset angefordert.</h3>
        <p>Ihr neues Passwort muss mindestens 5 Zeichen lang sein.</p>
        <mat-form-field  style="display: flex;" [appearance]="'outline'">
            <input matInput [(ngModel)]="firstPassword" placeholder="Neues Passwort">
        </mat-form-field>
        <mat-form-field  style="display: flex;" [appearance]="'outline'">
            <input matInput [(ngModel)]="secondPassword" placeholder="Neues Passwort wiederholen">
        </mat-form-field>
        <p *ngIf="!((firstPassword.length > 4) && (firstPassword === secondPassword))" style="color: red">Die Passwörter müssen übereinstimmen.</p>
        <button style="float: right;" mat-raised-button [disabled]="!((firstPassword.length > 4) && (firstPassword === secondPassword))" (click)="resetPassword()">Passwort ändern</button>
    </mat-card>
</div>