<mat-card>
    <h1 class="mat-title">Systemeinstellungen</h1>
</mat-card>
<mat-card fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="left">
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="left" fxFlex="1 1">
        <div fxFlex="1 1">
            <app-system-logo [width]="300"></app-system-logo>
            <app-file-uploader [trigger]="refreshSystemLogoTrigger" [target]="'logo'"></app-file-uploader>
        </div>
    </div>
    <div fxFlex="1 1 auto">
    </div>
</mat-card>