table {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

th.mat-sort-header-sorted {
    color: black;
}

.button-row {
    margin: 0px 8px 8px 0;
}


.modified-cell {
    background-color: lightgray;
}