<div mat-dialog-content>
    <h3 style="font-weight: bold" mat-dialog-title>Ein neues Gerät erstellen</h3>
    <ul style="float: left;">
        <div [formGroup]="simpleCreationForm">
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'name'" matInput placeholder="Name">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'internalName'" matInput placeholder="Internal name">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'caIdentifier'" matInput placeholder="CA number">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'description'" matInput placeholder="description">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Minimale Nutzerberechtigungen für eine Reservierung</mat-label>
                <mat-select [formControlName]="'allowedToReserve'" [placeholder]="'Select role'">
                    <mat-option *ngFor="let role of allowedToReserve" [value]="role">
                        {{role}}
                      </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <label>ist das Gerät ein managed device?</label><br>
            <mat-checkbox [formControlName]="'managed'">Managed device</mat-checkbox>
            <br>
        </div>
    </ul>
</div>
<mat-dialog-actions style="float: right">
    <button class="mat-button"(click)="cancelAction()">Abbrechen</button>
    <button class="mat-raised-button" (click)="createAction()">{{submitButtonText}}</button>
</mat-dialog-actions>