<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="left" mat-dialog-content>
        <div fxFlex="1 1 auto" [formGroup]="simpleCreationForm">
            <h3 style="font-weight: bold" mat-dialog-title>Ein neues Gerät erstellen</h3>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'name'" matInput placeholder="Name">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'internalName'" matInput placeholder="Internal name">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'caIdentifier'" matInput placeholder="CA number">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'description'" matInput placeholder="description">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Minimale Nutzerberechtigungen für eine Reservierung</mat-label>
                <mat-select [formControlName]="'allowedToReserve'" [placeholder]="'Select role'">
                    <mat-option *ngFor="let role of allowedToReserve" [value]="role">
                        {{role}}
                      </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <label>ist das Gerät ein managed device?</label><br>
            <mat-checkbox [formControlName]="'managed'">Managed device</mat-checkbox>
            <br>
            <h3 *ngIf="currentDeviceModel && itemBeingEdited">Dieses Gerät hat die Kategorie {{currentDeviceModel.displayName}}<br>
                <span>Eine Kategorie/Modellart kann im Nachhinein nicht mehr geändert werden.</span>
            </h3>
        </div>
        <div fxFlex="2 1 auto" *ngIf="!editingMode">
            <h3 style="font-weight: bold" mat-dialog-title>Weisen Sie dem Gerät eine Kategorie zu</h3>
            <app-general-selection-table *ngIf="allDeviceModels" [data]="allDeviceModels" [displayedColumns]="['deviceModelId', 'displayName', 'description']" (selectionChanged)="currentSelection = $event">

            </app-general-selection-table>
        </div>
</div>
<mat-dialog-actions style="float: right">
    <button class="mat-button"(click)="cancelAction()">Abbrechen</button>
    <button class="mat-raised-button" (click)="createAction()">{{submitButtonText}}</button>
</mat-dialog-actions>