<div style="padding: 12px;">
    <div>
        <p style="text-align: center;"><b>Complete dashboard available soon</b></p>
        </div>
        <div
        fxLayout="row"
        fxLayout.xs="column" 
        fxFlexFill
        fxLayoutAlign="center space-between">
            <div *ngIf="items && reservations && userCount">
                <p>Reservation total count {{reservations.length}}</p>
                <p>Item total count {{items.length}}</p>
                <p>User count {{userCount}}</p>
            </div>
        </div>
        
        
</div>