<div style="padding: 12px; margin: 20px">
    <p style="text-align: center;"><b>Detaillierte Informationen sind bald verfügbar</b></p>
    <div fxLayout="row" fxLayoutAlign="space-around center">
            <div  *ngIf="items && reservations && userCount" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
                <div>
                        <h6>Reservierungen insgesamt</h6>
                        <h1>{{reservations.length}}</h1>
                </div>
                <div>
                        <h6>Geräte insgesamt</h6>
                        <h1>{{items.length}}</h1>
                </div>
                <div>
                        <h6>User gesamt</h6>
                        <h1>{{userCount}}</h1>
                </div>
            </div>
            <br>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
                <h4>Hier wird es möglich sein, Schnellaktionen vorzunehmen und eine Übersicht der aktuellen Anfragen anzuzeigen.</h4>
            </div>
        
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
            <h4>Hier werden Statistiken angezeigt und letzte Aktionen.</h4>
        </div>
    
</div>
</div>