<div mat-dialog-content>
    <h3 style="font-weight: bold" mat-dialog-title>Passwortänderung</h3>
    <ul style="float: left;">
        <div [formGroup]="passwordChangeForm">
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'newPassword'" matInput placeholder="Password">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'newPasswordConfirmation'" matInput placeholder="Please confirm">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>
        </div>
        <span>Bitte bestätigen Sie das Passwort.</span>
    </ul>
</div>
<mat-dialog-actions style="float: right">
    <button class="mat-button"(click)="cancelAction()">Cancel</button>
    <button mat-button *ngIf="!passwordChangeForm.valid" [disabled]="true">Passwords do not match</button>
    <button mat-raised-button *ngIf="passwordChangeForm.valid" (click)="changeAction()">Change Password</button>
</mat-dialog-actions>