<div>
    <h3 mat-dialog-title>Bitte überprüfen Sie die Anfrage</h3>
    <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="left" mat-dialog-content *ngIf="!(suggestions ? suggestions.length == 0 : false)">
            <div fxFlex="1 auto auto">
                <app-request-info-box [request]="reservationRequest"></app-request-info-box>
                <app-request-review-status-box [conditionsPrefilledUpdater]="allConditionsPrefilled" [subrequestPrefilledUpdater]="subRequestConditionEmitter" [request]="reservationRequest"></app-request-review-status-box>
                <mat-card>
                    <p>Geben sie der Reservierung einen passenden Namen:</p>
                    <input matInput placeholder="Reservierungsname (mind. 5 Zeichen)" [(ngModel)]="reservationName">
                </mat-card>
            </div>
            <div fxFlex="1 1 auto">
                <app-review-request-selector-table (selectionChanged)="updateSelection($event)" *ngIf="suggestedItems" [dataEmitter]="suggestedItems"></app-review-request-selector-table>
            </div>
    </div>
    <div *ngIf="suggestions ? suggestions.length == 0 : false">
        <mat-card>
            <p class="mat-display-1">Keine Geräte verfügbar.</p>
            <p class="mat-title">In diesem Zeitraum sind keine Geräte verfügbar. Wie es scheint, sind alle Geräte zu dem gewünschten Zeitpunkt momentan ausgebucht.</p>
        </mat-card>
    </div>
<p *ngIf="!showUnusedEntries" style="float: right" mat-card-subtitle>Es gibt ausgewählte Geräte, die keiner Anforderung zugeordnet werden können. Wählen Sie diese ab, um fortfahren zu können.</p>
<mat-dialog-actions *ngIf="showUnusedEntries" style="float: right">
    <button mat-button color="warn" (click)="deleteRequest()">Anfrage ablehnen und löschen</button>
    <button class="mat-raised-button" (click)="closeAction()">Abbrechen</button>
    <button class="mat-raised-button" mat-raised-button color="primary" (click)="submitReservation()" [disabled]="!(allConditionsArePrefilled && checksIfReservationNameIsValid())">Reservierung bestätigen und speichern</button>
</mat-dialog-actions>
</div>