<div fxLayout="column" fxLayoutAlign="space-between" style="margin: 20px;">
    <button class="create-button" mat-flat-button *ngIf="showCreateButton" (click)="createAction.next(true)">Gerät erstellen</button>
    <button class="delete-button"  mat-flat-button [disabled]="disableDeleteButton" (click)="deleteAction.next(true)">Gerät(e) löschen</button>
    <button class="reserve-button"  mat-flat-button [disabled]="disableReserveButton" *ngIf="showReserveButton" (click)="reserveAction.next(true)">Reservierung erstellen</button>
    <button class="change-password-button"  mat-flat-button [disabled]="disableUserPageButtons" *ngIf="showUserPageButtons" (click)="changePasswordAction.next(true)">Passwort ändern</button>
    <button class="edit-profile-button"  mat-flat-button [disabled]="disableUserPageButtons" *ngIf="showUserPageButtons" (click)="editUserProfile.next(true)">Account bearbeiten</button>
    <button class="edit-item-button"  mat-flat-button [disabled]="enableEditButton" *ngIf="showReserveButton" (click)="editItemButtonAction.next(true)">Geräteinfo bearbeiten</button>
</div>