<div fxLayout="column" fxLayoutAlign="space-between" style="margin: 20px;">
    <button class="create-button" mat-flat-button *ngIf="showCreateButton" (click)="createAction.next(true)">Create</button>
    <button class="delete-button"  mat-flat-button [disabled]="disableDeleteButton" (click)="deleteAction.next(true)">Delete</button>
    <button class="reserve-button"  mat-flat-button [disabled]="disableReserveButton" *ngIf="showReserveButton" (click)="reserveAction.next(true)">Reserve</button>
    <button class="change-password-button"  mat-flat-button [disabled]="disableUserPageButtons" *ngIf="showUserPageButtons" (click)="changePasswordAction.next(true)">Change Password</button>
    <button class="edit-profile-button"  mat-flat-button [disabled]="disableUserPageButtons" *ngIf="showUserPageButtons" (click)="editUserProfile.next(true)">Edit Account Details</button>
</div>