<link rel="icon" type="image/x-icon" href="/static/configuration/favicon.ico">
<mat-drawer-container fxLayout="column" fxLayoutAlign="space-between stretch" style="height: 100%;">
        <mat-drawer #drawer class="example-sidenav" mode="over" class="zfm-background">
            <app-menu-bar></app-menu-bar>
        </mat-drawer>
        <!-- OPEN SIDEBAR BUTTON -->
        <div *ngIf="isAuthenticated" style="width: 100%; background-color: #a0ce4e; color: black" fxLayoutAlign="space-between center">
            <button class="sidebar-button" type="button" mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
                <span *ngIf="drawer.opened">Menü schließen</span>
                <span *ngIf="!drawer.opened">Menü öffnen</span>
            </button>
            <button style="margin-right: 5px; color: black" mat-stroked-button>Version: Alpha</button>
        </div>
        <router-outlet>
        </router-outlet>
</mat-drawer-container>