table {
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

th.mat-sort-header-sorted {
    color: black;
}

.button-row {
    margin: 0px 8px 8px 0;
}
  

.table-holder {
    height: 500px;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.modified-cell {
    background-color: lightgray;
}

.delayed-cell {
    background-color: lightcoral;
}

.completed-cell {
    background-color: gray;
}