<div>
    <div class="mat-elevation-z8">
      <app-search-bar (searchString)="applyFilter($event)" [placeholder]="'Reservierung suchen'"></app-search-bar>
      <div class="table-holder">
        <table [hidden]="!loadingCompleted" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="reservationId" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.reservationId}} </td>
          </ng-container>
  
          <ng-container matColumnDef="reservationName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reservierungsname</th>
            <td mat-cell *matCellDef="let element">
              <span>{{element.reservationName}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Beschreibung</th>
            <td mat-cell *matCellDef="let element">
              <span>{{element.description}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Startdatum</th>
            <td mat-cell *matCellDef="let element">
              <span>{{parseDate(element.startDate)}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="plannedEndDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Enddatum</th>
            <td mat-cell *matCellDef="let element">
              <span>{{parseDate(element.plannedEndDate)}}</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Beendet</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.completed">done</mat-icon>
            </td>
          </ng-container>

  
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'modified-cell': row.completed, 'delayed-cell': isDue(row)}" (click)="$event ? selection.toggle(row) : null"></tr>
  
  
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[15, 10, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  