<div mat-dialog-content>
    <div style="padding: 5px">
        <mat-list *ngIf="!(members?.length === 0)" role="list" style="max-height: 400px;overflow:scroll;">
            <p>Mitglieder:</p>
            <app-info-table [data]="members" [dataEmitter]="memberEmitter" [displayedColumns]="['firstname','surname','username']"></app-info-table>
        </mat-list>
        <div *ngIf="members?.length === 0" style="text-align: center;">
            <span style="text-align: center;" class="mat-title">Diese Gruppe hat noch keine Mitglieder</span>
        </div>
    </div>
    <mat-card>
        <br>
        <div style="padding: 5px">
            <span>Fügen Sie neues Mitglied hinzu – Suchen Sie nach Vorname, Nachname oder Username. Enter drücken, um zu suchen</span>
            <mat-form-field  style="display: block;" [appearance]="'fill'">
                <input matInput style="width: 100%;" autocomplete="off" [matAutocomplete]="auto" placeholder="User suchen" (keyup)="getSuggestions($event)">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let member of suggested" [value]="option">
                        <mat-list-item>{{member.firstname || ''}} {{member.surname || ''}} - {{member.username || ''}} <button mat-button (click)="addMemberToGroup(member)">Zu Gruppe hinzufügen</button></mat-list-item>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </mat-card>
</div>
<mat-dialog-actions style="float: right">
    <button class="mat-raised-button" (click)="cancel()">Schließen</button>
</mat-dialog-actions> 