<div mat-dialog-content>
    <h1 mat-dialog-title>Passwort zurücksetzen</h1>
    <p>Sie haben Ihr Passwort zurücksetzen? Hier können sie einen Password-Request anfordern.<br>Bitte geben Sie die E-Mail an, welche mit Ihrem Konto verknüpft ist.</p>
    <mat-form-field [appearance]="'outline'" style="width: 100%;">
        <input matInput [(ngModel)]="email" placeholder="E-Mail Adresse">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Abbrechen</button>
    <button mat-raised-button [color]="'primary'" (click)="sendPasswortReset()" [disabled]="!email?.includes('@')">Anfordern</button>
</div>