<div mat-dialog-content>
    <h3 style="font-weight: bold" mat-dialog-title>Neuen User erstellen</h3>
    <ul style="float: left;">
        <div [formGroup]="userCreationForm">

            <mat-form-field  style="display: flex;">
                <input [formControlName]="'username'" matInput placeholder="Username">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>

            <mat-form-field  style="display: flex;">
                <input [formControlName]="'firstname'" matInput placeholder="Vorname">
            </mat-form-field>

            <mat-form-field  style="display: flex;">
                <input [formControlName]="'surname'" matInput placeholder="Nachname">
            </mat-form-field>

            <mat-form-field  style="display: flex;">
                <input [formControlName]="'email'" matInput placeholder="email">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="enablePassword" style="display: flex;" >
                <input [formControlName]="'password'" matInput placeholder="password">
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field>

            <mat-form-field  style="display: flex;">
                <input [formControlName]="'matrikelnumber'" matInput placeholder="Matrikelnummer">
            </mat-form-field>

            <mat-form-field  style="display: flex;">
                <input [formControlName]="'phone'" matInput placeholder="Telefon/Handy-Nummer">
            </mat-form-field>

            <!-- <mat-form-field>
                <mat-label>Zugewiesene Userrolle</mat-label>
                <mat-select [formControlName]="'role'" [placeholder]="'Select role'">
                    <mat-option *ngFor="let role of rolesAvailable" [value]="role">
                        {{role}}
                      </mat-option>
                </mat-select>
                <mat-error>
                    Erforderlich
                </mat-error>
            </mat-form-field> -->
        </div>
    </ul>
</div>
<mat-dialog-actions style="float: right">
    <button class="mat-button"(click)="cancelAction()">Cancel</button>
    <button mat-raised-button (click)="createAction()">Create</button>
</mat-dialog-actions>