
<mat-card style="padding: 14px; text-align: left;">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
      <div fxFlex="1 1 auto">
        <img *ngIf="showProfilePicture" style="max-width: 50px;" src="{{profilePictureUri}}" (error)="hideProfilePicture()">
      </div>
      <div fxFlex="1 1">
        <span>{{greeting()}}, {{user.firstname}} {{user.surname}}</span><br>
        <p>Sie sind eingeloggt.</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
      <button style="background-color: gray; color: white; width: 100%; margin: 3px;" (click)="gotoProfile()" mat-button>Mein Profil <mat-icon style="margin: auto;">person</mat-icon></button>
      <button style="background-color: red; color: white; width: 100%; margin: 3px;" (click)="logout()" mat-button>Ausloggen</button>
    </div>
</mat-card>