<mat-card *ngIf="reservationUser">
    <p class="mat-title">Generelle Informationen:</p>
    <p><b>Username:</b> {{reservationUser.username}}</p>
    <p><b>Anfragende Person:</b> {{reservationUser.firstName}} {{reservationUser.surname}}</p>
    <p><b>Kontakt E-Mail:</b> {{reservationUser.email}}</p>
    <p><b>Zeitspanne:</b><br>
        {{parseDate(reservation.startDate)}} bis zum {{parseDate(reservation.plannedEndDate)}}
    </p>
    <p>Reservierungsende geplant: {{timeUntilEnd()}}</p>
</mat-card>