<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="left">
    <div fxFlex="1 1 auto">
        <app-device-model-button-group 
        (editAction)="editAction" 
        (createAction)="createModel"
        [showEditButton]="selection.selected.length === 1">
      </app-device-model-button-group>
      <mat-icon style="padding: 20px"matTooltip="Verwalten Sie Gerätemodelle und deren Beschreibungen.">help</mat-icon>
    </div>
    <div fxFlex="2 1 auto">
        <app-device-model-table (selectionChanged)="selectionChange($event)"></app-device-model-table>
    </div>
  </div>
  