<div 
class="snowflakes zfm-background" 
style="padding: 12px;"
fxLayout="column"
fxLayout.xs="column" 
fxFlexFill
fxLayoutAlign="center center">
    <div>
        <h1 style="text-align: center;"><b>Es konnte keine Verbindung zum Backend aufgebaut werden.</b></h1>
        <p style="text-align: center;"><b>Bitte versuche es später erneut.</b></p>
        <button mat-raised-button style="text-align: center; width: 100%;" (click)="tryAgain()">
            Erneut versuchen
        </button>
    </div>       
</div>