<div fxLayout="column" fxLayoutAlign="start stretch" class="zfm-background">
  <mat-card>
    <!-- MOBILE MENU-->
    <div fxLayout="column" fxLayoutAlign="space-evenly start">
      <div>
        <h3>ZFM AUSLEIHSYSTEM <br><b>ALPHA</b></h3>
      </div>
      <mat-accordion #menuSections [displayMode]="'flat'" [multi]="true">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ALLGEMEIN
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let item of getMenuItemsByCategory(1)">
            <button *ngIf="isAuthenticated" [ngClass]="{'active': (activeItem === item.title.toLowerCase())}"
              (click)="navigateToTargetLink(item.link)" mat-button>{{item.title}}</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              USER-MANAGEMENT
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let item of getMenuItemsByCategory(2)">
            <button *ngIf="isAuthenticated" [ngClass]="{'active': (activeItem === item.title.toLowerCase())}"
              (click)="navigateToTargetLink(item.link)" mat-button>{{item.title}}</button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              OTHER
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let item of getMenuItemsByCategory(3)">
            <button *ngIf="isAuthenticated" [ngClass]="{'active': (activeItem === item.title.toLowerCase())}"
              (click)="navigateToTargetLink(item.link)" mat-button>{{item.title}}</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div *ngIf="isAuthenticated" style="padding: 12px">
      <span>Hi, {{currentUser.username}}</span><br>
      <p mat-button>Sie sind eingeloggt.</p>
      <button style="background-color: red; color: white" (click)="logout()" mat-button>Ausloggen</button>
    </div>
  </mat-card>
</div>
