<div style="max-width: 600px;">
    <mat-card>
        <p class="mat-title">Die Reservierungsanfrage hat folgende Anforderungen:</p>
        <!-- SIMPLE OR COMPLEX -->
        <p><b>Anfragenart:</b> {{getSimpleOrComplex()}}
            <br>
            <span *ngIf="getSimpleOrComplex() === 'Einfach'">Eine einfache Anfrage bedeutet, dass die reservierende Person nicht ein spezielles Gerätemodell erwünscht.</span>
            <span *ngIf="getSimpleOrComplex() === 'Komplex'">Eine komplexe Anfrage bedeutet, dass die reservierende Person spezielle Gerätemodelle erwünscht.</span>
        </p>

    </mat-card>
</div>