<div style="display: flex; align-items: center; width: 100%; height: 80%; justify-content: center;">
    <mat-card>
        <mat-card-subtitle>Please login</mat-card-subtitle>
        <form [formGroup]="loginForm" style="flex-direction: row;">
            <mat-form-field style="display: flex;">
                <input [formControlName]="'username'" matInput placeholder="Username">
                <mat-error>
                    Is required
                </mat-error>
            </mat-form-field>
            <mat-form-field  style="display: flex;">
                <input [formControlName]="'password'" matInput type="password" placeholder="Password">
                <mat-error>
                    Is required
                </mat-error>
            </mat-form-field>
        </form>
        <button [disabled]="!loginForm.valid" mat-raised-button (click)="performLogin()">Login</button>
    </mat-card>
</div>