<div style="padding: 12px;"
fxLayout="column"
fxLayout.xs="column" 
fxFlexFill
fxLayoutAlign="center center">
    <mat-card>
        <mat-card-subtitle>Please login</mat-card-subtitle>
        <form [formGroup]="loginForm" style="flex-direction: row;" (submit)="performLogin()">
            <mat-form-field style="display: flex;">
                <input [formControlName]="'username'" matInput placeholder="Username">
                <mat-error>
                    Is required
                </mat-error>
            </mat-form-field>
            
            <mat-form-field  style="flex-direction: row;">
                <input [formControlName]="'password'" matInput [type]="hide ? 'password' : 'text'" placeholder="Passwort">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                    Is required
                </mat-error>
            </mat-form-field>
        </form>
        <button #submitForm [disabled]="!loginForm.valid" mat-raised-button (click)="performLogin()">Login</button>
    </mat-card>
</div>