<div 
class="snowflakes zfm-background" 
style="padding: 12px;"
fxLayout="column"
fxLayout.xs="column" 
fxFlexFill
fxLayoutAlign="center center">
    <mat-card style="width: 250px;">
        <mat-card-header>
            <img mat-card-image src="assets/logo_zfm_small.png" alt="ZFM Logo">
        </mat-card-header>
        <form 
        [formGroup]="loginForm" 
        style="flex-direction: row; text-align: center;" 
        (submit)="performLogin()"
        (keydown.enter)="performLogin()"
        fxLayout="column"
        fxLayout.xs="center" 
        fxLayoutAlign="center stretch"
        >
            <mat-form-field style="display: flex;" class="login-input" [appearance]="'outline'">
                <input [formControlName]="'username'" matInput placeholder="Username">
                <mat-error>
                    Erforderlich
                </mat-error>
                <span mat-icon-button matSuffix [attr.aria-label]="'Username'" [attr.aria-pressed]="hide">
                    <mat-icon>person</mat-icon>
                </span>
            </mat-form-field>
            <mat-form-field  style="display: flex;" class="login-input" [appearance]="'outline'">
                <input [formControlName]="'password'" matInput [type]="hide ? 'password' : 'text'" placeholder="Passwort">
                <mat-error>
                    Erforderlich
                </mat-error>
                <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>
            </mat-form-field>
        </form>
        <button #submitForm style="float: right;" [disabled]="!loginForm.valid" mat-raised-button (click)="performLogin()">Login</button>
        <button #submitForm style="float: left;" mat-button [matTooltip]="'Dieses Feature ist bald verfügbar.'" (click)="forgetPassword()">Passwort vergessen?</button>
    </mat-card>
</div>