<div fxLayout="column" fxLayoutAlign="space-between" style="margin: 20px;">
    <button class="accept-button"  mat-flat-button (click)="reserveAction.next(true)">Reservierung erstellen</button>
    <button class="decline-button" mat-flat-button (click)="declineAction.next(true)">Reservierung ablehnen</button>
</div>
<mat-icon style="padding: 20px"matTooltip="Wählen Sie eine Reservierungsanfrage aus, sehen Sie Details ein und entscheiden Sie, ob eine Reservierungsanfrage in eine Reservierung umgewandelt wird.">help</mat-icon>