<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="left">
  <div fxFlex="1 1 auto">
    <app-table-button-group 
      [showCreateButton]="true" 
      [showDeleteButton]="true" 
      [showReserveButton]="true"
      [enableEditButton]="!(selection?.selected.length === 1)"
      (deleteAction)="deleteItems()" 
      (createAction)="createNewItem()"
      (reserveAction)="reserveItems()"
      (editItemButtonAction)="editExistingItem()"
      [disableDeleteButton]="selection?.isEmpty()"
      [disableReserveButton]="selection?.isEmpty()">
    </app-table-button-group>
  </div>
  <div fxFlex="2 1 auto">
    <app-inventory-table (selectionChanged)="selectionChange($event)" (showQRCodeEmitter)="showQRCodeModal($event)" [refreshTrigger]="refreshActionStream"></app-inventory-table>
  </div>
</div>
