<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="left">
  <div fxFlex="1 1 auto">
    <app-table-button-group 
      [showCreateButton]="true" 
      [showDeleteButton]="true" 
      [showReserveButton]="true"
      [enableEditButton]="!(selection?.selected.length === 1)"
      [disableDeleteButton]="selection?.isEmpty()"
      (deleteAction)="deleteItems()" 
      (createAction)="createNewItem()"
      (reserveAction)="reserveItems()"
      (editItemButtonAction)="editExistingItem()"
      [disableReserveButton]="selection?.isEmpty()">
    </app-table-button-group>
    <app-csv-file-selector>
      
    </app-csv-file-selector>
    <mat-icon style="padding: 20px" matTooltip="Erstellen Sie neue Geräte, bearbeiten Sie Geräte, löschen Sie Geräte oder reservieren Sie bestimmte Geräte ohne dafür eine Anfrage stellen zu müssen.">help</mat-icon>
  </div>
  <div fxFlex="2 1 auto">
    <app-inventory-table (selectionChanged)="selectionChange($event)" (showQRCodeEmitter)="showQRCodeModal($event)" [refreshTrigger]="refreshActionStream"></app-inventory-table>
  </div>
</div>
